
.bannerBox{
     margin:auto;
     display:flex;
     justify-content: left;
     align-items:flex-start;
     gap:3rem;
     padding:2rem;
     width:88%;
     background-color: #eef2f0;
     margin-top:3rem;
     margin-bottom:3rem;
     /* opacity:0.9; */
}

.textBox{
    display:flex;
    flex-direction: column;
    gap:12px;
}